@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes fade-simple {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-simple {
  animation: fade-simple 0.8s ease-out forwards;
}

